body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    margin: 0;
    overflow-x: hidden; 
    position: relative;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
}
.container {
    display: flex;
    position: relative;
}

.left-column,
.right-column {
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 5%;
    background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
    align-items: center;
}

.left-column {
    left: 0;
}

.right-column {
    right: 0;
}

.middle-column {
    margin-left: 220px; 
    margin-right: 220px; 
    padding: 5%;
    padding-left: 20%;
    justify-content: center;
    text-align: center;
}

h1, h2 {
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    line-height: 1.6;
    font-size: 18px;
    color: #444;
}